.todolist {
  flex-direction: column;
  margin: 5px;
  max-width: 200px;
}

h2 {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.todolistAlone {
  display: flex;
  justify-content: flex-end;
}

.remove-task {
  animation-name: remove-task;
  animation-duration: 2s;
}

@keyframes remove-task {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
